body {
    background-color: #fffbb4;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Fascinate;
    font-size: 4vw;
    color: #ff91a1;
    text-decoration: none;
}

a {
    font-family: Fascinate;
    font-size: 4vw;
    color: #ff91a1;
    text-decoration: none;

}

h2 {
    font-family: Fascinate;
    font-size: 3vw;
    color: #ff91a1;
    text-decoration: underline #ff91a1;
}

label {
    font-family: Sour Gummy;
    font-size: 1.25vw;
    color: #ff91a1;
}


#main {
    margin-top: 15vh;
    width: 60vw;
    height: 75vh;
    background-color: white;
    border-radius: 5vw;
    padding: 2vw;
    text-align: center;
    box-shadow: 5px 5px #ff91a1;
    position: relative;
}

#header {
    width: 90vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between; /* Move menuBar to the right */
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 3vw;
    box-shadow: 3px 3px #ff91a1;
    position: fixed;
    top: 1vw;
    z-index: 30;
}

#header h1 {
    padding-left: 1.5vw;
}

.menuBar {
      display: inline-block;
      cursor: pointer;
      position: relative;
      z-index: 2;
      padding: 10px;
}

.bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      transition: 0.4s;
      background-color: #ff91a1;
      margin: 6px 0;
      margin-right: 2vw;
}


.change .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
      opacity: 0;
}

.change .bar3 {
      transform: translate(0, -11px) rotate(45deg);
      background-color: #ff91a1;
}

#sidenav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px #ff91a1;
    padding: 10px 0;
    z-index: 45;
}

#sidenav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: Sour Gummy;
    color: #ff91a1;
}

#sidenav a:hover {
    background-color: #fffbb4;
}

.menuWrapper {
    position: relative;
}


button {
    background-color: white;
    border: solid #ff91a1;
    border-radius: 1vw;
    font-family: Fascinate;
    font-size: 1.75vw;
    color: #ff91a1;
}

button:hover {
    cursor: pointer;
}

.blank {
    background-color: white;
    color: white;
    border-color: white;
    border-radius: 1vw;
    font-family: Fascinate;
    font-size: 1vw;
}

.mode.active {
    background-color: #fffbb4;
}

input::placeholder {
    color: #aaa;
}

hr {
    height: 3px;
    border-width: 0;
    color:#fffbb4;
    background-color:#ff91a1
}

p {
    font-family: Sour Gummy;
    font-size: 1.25vw;
}

input {
    font-family: Sour Gummy;
    font-size: 1vw;
    padding: 5px;
    border: 2px solid #ff91a1;
    border-radius: 15px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px #ff91a1;
}

#footer {
    position: absolute;
    bottom: 10px;
    left: 44%;
    color: #ff91a1;
}


#moleB {
    position: absolute;
    bottom: 10px;
    right: 25px;
    width: 15vw;
    z-index: 45;
}

#moleT {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 10vw;
    z-index: 45;
}

#num {
    font-size: 6vw;
}
